@model Otel.Models.MusteriHesabi
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Müşteri Hesabı Ekle</h2>

@using (Html.BeginForm()) //crud işlemlerinde begin form kullanmak zorundayız ve antifogerytoken
{
    @Html.AntiForgeryToken() //her form için id oluşturuyor!!
    @Html.HiddenFor(model => model.IslemNo)

    <div class="form-horizontal">
        <h4>Personel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" }) @*gelen verilerin kontrolünü yapmamızı sağlar!!*@ @*veri girişi olan yerlerin kontrolünü sağlar*@
        <div class="form-group">
            @Html.LabelFor(model => model.SonHesap, htmlAttributes: new { @class = "control-label col-md-2" }) @*kutu üzerindeki başlıklar*@
            <div class="col-md-10">

                @Html.EditorFor(model => model.SonHesap, new { htmlAttributes = new { @class = "form-control" } })  @*text boxlar*@
                @Html.ValidationMessageFor(model => model.SonHesap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="=form group">
            @Html.LabelFor(model => model.GirisTarihi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GirisTarihi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GirisTarihi, "", new { @class = "text-danger" }) @*hata var mı yok mu validation summary e yolluyor*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CikisTarihi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.CikisTarihi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CikisTarihi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KisiSayisi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.KisiSayisi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KisiSayisi, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OdaNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.OdaNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OdaNo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mno, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.Mno, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mno, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>

}
<div>
    @Html.ActionLink("AnaSayfa", "Index")
</div>

