@model IEnumerable<Otel.Models.Odalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Odalar Listesi</h2>
<p>
    @Html.ActionLink("Oda Oluştur", "Yeni", null, new { @class = "btn btn-success" })
</p>
<table class="table-striped alert-danger col-md-12">
    <tr>

        <th>
            @Html.DisplayNameFor(Model => Model.OdaFiyat)  @*tablodaki kolonların başlıklarını buradan getiriyoruz!!*@
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.YatakSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.OdaTuru)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.ServisNo)
        </th>
        <th>

        </th>

    </tr>
    @foreach (var item in Model)  //@ işareeti razor view engine dır!! c# kodu yazmamızı sağlar!!
    {
<tr>
    <td>
        @Html.DisplayFor(Model => item.OdaFiyat)  @*//DisplayFor tablodaki verileri getiriyor!!*@
    </td>
    <td>
        @Html.DisplayFor(Model => item.YatakSayisi)
    </td>
    <td>
        @Html.DisplayFor(Model => item.OdaTuru)
    </td>
    <td>
        @Html.DisplayFor(Model => item.ServisNo)
    </td>
    <td>
        @Html.ActionLink("Düzenle", "Duzenle", new { id = item.OdaNo }, new { @class = "btn btn-success" }) @*//id yi controllerda tanımlamış olman gerek!!*@
        @Html.ActionLink("Sil", "Delete", new { id = item.OdaNo }, new { @class = "btn btn-success" }) @*//sil url adı, delete de actionresult adıdır!!*@
    </td>
</tr>


    }
</table>

