@model IEnumerable<Otel.Models.Servisler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Servis Listesi</h2>

<p>
    @Html.ActionLink("Servis Oluştur", "Yeni", null, new { @class = "btn btn-success" })
</p>
<table class="table-striped alert-danger col-md-12">
    <tr>

        <th>
            @Html.DisplayNameFor(Model => Model.ServisAdi)  @*tablodaki kolonların başlıklarını buradan getiriyoruz!!*@
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.ServisUcret)
        </th>
       
        <th>

        </th>

    </tr>
    @foreach (var item in Model)  //@ işareeti razor view engine dır!! c# kodu yazmamızı sağlar!!
    {
        <tr>
            <td>
                @Html.DisplayFor(Model => item.ServisAdi)  @*//DisplayFor tablodaki verileri getiriyor!!*@
            </td>
            <td>
                @Html.DisplayFor(Model => item.ServisUcret)
            </td>
            
            <td>
                @Html.ActionLink("Düzenle", "Duzenle", new { id = item.ServisNo }, new { @class = "btn btn-success" }) @*//id yi controllerda tanımlamış olman gerek!!*@
                @Html.ActionLink("Sil", "Delete", new { id = item.ServisNo }, new { @class = "btn btn-success" }) @*//sil url adı, delete de actionresult adıdır!!*@
            </td>
        </tr>


    }
</table>

