@model Otel.Models.MusteriKayit
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Müşteri Kayır Ekle</h2>

@using (Html.BeginForm()) //crud işlemlerinde begin form kullanmak zorundayız ve antifogerytoken
{
    @Html.AntiForgeryToken() //her form için id oluşturuyor!!

<div class="form-horizontal">
    <h4>Personel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" }) @*gelen verilerin kontrolünü yapmamızı sağlar!!*@ @*veri girişi olan yerlerin kontrolünü sağlar*@
    <div class="form-group">
        @Html.LabelFor(model => model.MAdi, htmlAttributes: new { @class = "control-label col-md-2" }) @*kutu üzerindeki başlıklar*@
        <div class="col-md-10">

            @Html.EditorFor(model => model.MAdi, new { htmlAttributes = new { @class = "form-control" } })  @*text boxlar*@
            @Html.ValidationMessageFor(model => model.MAdi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="=form group">
        @Html.LabelFor(model => model.MSoyadi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MSoyadi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MSoyadi, "", new { @class = "text-danger" }) @*hata var mı yok mu validation summary e yolluyor*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MCinsiyet, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.EditorFor(model => model.MCinsiyet, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MCinsiyet, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MAdres, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.EditorFor(model => model.MAdres, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MAdres, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Telefon, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>

}
<div>
    @Html.ActionLink("AnaSayfa", "Index")
</div>

